In [ ]:
import pandas as pd
import numpy as np

In [ ]:
number_list = pd.Series([1,2,3,4,5,6])
print("Series:")
print(number_list)

Series:
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
matrix = [[1,2,3],
          ['a','b','c'],
          [3,4,5],
          ['d',4,6]]
matrix_list = pd.DataFrame(matrix)
print("DataFrame:")
print(matrix_list)

DataFrame:
   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

In [ ]:
print("[1] attribute .info()")
print(matrix_list.info())

[1] attribute .info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
 1   1       4 non-null      object
 2   2       4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes
None

In [ ]:
print("\n[2] attribute .shape")
print("    Shape dari number_list:", number_list.shape)
print("    Shape dari matrix_list:", matrix_list.shape)

[2] attribute .shape
    Shape dari number_list: (6,)
    Shape dari matrix_list: (4, 3)

In [ ]:
print("\n[3] attribute .dtypes")
print("    Tipe data number_list:", number_list.dtypes)
print("    Tipe data matrix_list:", matrix_list.dtypes)

[3] attribute .dtypes
    Tipe data number_list: int64
    Tipe data matrix_list: 0    object
1    object
2    object
dtype: object

In [ ]:
print("\n[4] attribute .astype()")
print("    Konversi number_list ke str:", number_list.astype("str"))
print("    Konversi matrix_list ke str:", matrix_list.astype("str"))

[4] attribute .astype()
    Konversi number_list ke str: 0    1
1    2
2    3
3    4
4    5
5    6
dtype: object
    Konversi matrix_list ke str:    0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

In [ ]:
print("[5] attribute .copy()")
num_list = number_list.copy()
print("    Copy number_list ke num_list:", num_list)
mtr_list = matrix_list.copy()
print("    Copy matrix_list ke mtr_list:", mtr_list)

[5] attribute .copy()
    Copy number_list ke num_list: 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
    Copy matrix_list ke mtr_list:    0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

In [ ]:
print("[6] attribute .to_list()")
print(number_list.to_list())

[6] attribute .to_list()
[1, 2, 3, 4, 5, 6]

In [ ]:
print("[7] attribute .unique()")
print(number_list.unique())

[7] attribute .unique()
[1 2 3 4 5 6]

In [ ]:
print("[8] attribute .index")
print("    Index number_list:", number_list.index)
print("    Index matrix_list:", matrix_list.index)

[8] attribute .index
    Index number_list: RangeIndex(start=0, stop=6, step=1)
    Index matrix_list: RangeIndex(start=0, stop=4, step=1)

In [ ]:
print("[9] attribute .columns")
print("    Column matrix_list:", matrix_list.columns)

[9] attribute .columns
    Column matrix_list: RangeIndex(start=0, stop=3, step=1)

In [ ]:
print("[10] attribute .loc")
print("    .loc[0:1] pada number_list:", number_list.loc[0:1])
print("    .loc[0:1] pada matrix_list:", matrix_list.loc[0:1])

[10] attribute .loc
    .loc[0:1] pada number_list: 0    1
1    2
dtype: int64
    .loc[0:1] pada matrix_list:    0  1  2
0  1  2  3
1  a  b  c

In [ ]:
print("[11] attribute .iloc")
print("    iloc[0:1] pada number_list:", number_list.iloc[0:1])
print("    iloc[0:1] pada matrix_list:", matrix_list.iloc[0:1])

[11] attribute .iloc
    iloc[0:1] pada number_list: 0    1
dtype: int64
    iloc[0:1] pada matrix_list:    0  1  2
0  1  2  3

In [ ]:
matrix = [[1,2,3],
          ['a','b','c'],
          [3,4,5],
          ['d',4,6]]
matrix_list = pd.DataFrame(matrix)

matrix_list.iloc[0:2,2].to_list()

[3, 'c']

In [ ]:
ex_list = ['a',1,3,5,'c','d']
ex_series = pd.Series(ex_list)
print(ex_series)

ex_list_of_list = [[1, 'a', 'b', 'c'],
                   [2.5, 'd', 'e', 'f'],
		           [5, 'g', 'h', 'i'],
		           [7.5, 'j', 10.5, 'l']]
index = ['dq', 'lab', 'kar', 'lan']
cols = ['float', 'char', 'obj', 'char']
ex_df = pd.DataFrame(ex_list_of_list, index=index, columns=cols)
print(ex_df)

0    a
1    1
2    3
3    5
4    c
5    d
dtype: object
     float char   obj char
dq     1.0    a     b    c
lab    2.5    d     e    f
kar    5.0    g     h    i
lan    7.5    j  10.5    l

In [ ]:
dict_series = {'1':'a',
			   '2':'b',
			   '3':'c'}
ex_series = pd.Series(dict_series)
print(ex_series)
print("")

df_series = {'1':['a', 'b', 'c'],
             '2':['b', 'c', 'd'],
             '3':[2,3,'z']}
ex_df = pd.DataFrame(df_series)
print(ex_df)

1    a
2    b
3    c
dtype: object

   1  2  3
0  a  b  2
1  b  c  3
2  c  d  z

In [ ]:
arr_series = np.array([1,2,3,4,5,6,6,7,])
ex_series = pd.Series(arr_series)
print(ex_series)

0    1
1    2
2    3
3    4
4    5
5    6
6    6
7    7
dtype: int64

In [ ]:
arr_df = np.array([[1, 2, 3, 5],
                   [5, 6, 7, 8],
                   ['a', 'b', 'c', 10]])
ex_df = pd.DataFrame(arr_df)
print(ex_df)

   0  1  2   3
0  1  2  3   5
1  5  6  7   8
2  a  b  c  10

In [ ]:
import pandas as pd

df_csv = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/sample_csv.csv')
print(df_csv.head(3))
df_csv.to_csv("csv1.csv", index=False)

   order_id  order_date  customer_id  ...    brand quantity item_price
0   1612339  2019-01-01        18055  ...  BRAND_C        4    1934000
1   1612339  2019-01-01        18055  ...  BRAND_V        8     604000
2   1612339  2019-01-01        18055  ...  BRAND_G       12     747000

[3 rows x 9 columns]

In [ ]:
df_tsv = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv', sep='\t')
print(df_tsv.head(3))
df_tsv.to_csv("tsv1.tsv", index=False, sep='\t')

   order_id  order_date  customer_id  ...    brand quantity item_price
0   1612339  2019-01-01        18055  ...  BRAND_C        4    1934000
1   1612339  2019-01-01        18055  ...  BRAND_V        8     604000
2   1612339  2019-01-01        18055  ...  BRAND_G       12     747000

[3 rows x 9 columns]

In [ ]:
df_excel = pd.read_excel("https://storage.googleapis.com/dqlab-dataset/sample_excel.xlsx", sheet_name="test")
print(df_excel.head(4))
df_excel.to_excel("xlsx1.xlsx", index=False)

   order_id  order_date  customer_id  ...    brand quantity item_price
0   1612339  2019-01-01        18055  ...  BRAND_C        4    1934000
1   1612339  2019-01-01        18055  ...  BRAND_V        8     604000
2   1612339  2019-01-01        18055  ...  BRAND_G       12     747000
3   1612339  2019-01-01        18055  ...  BRAND_B       12     450000

[4 rows x 9 columns]

In [ ]:
url = "https://storage.googleapis.com/dqlab-dataset/covid2019-api-herokuapp-v2.json"
df_json = pd.read_json(url)
print(df_json.head(10))

                                                data          dt          ts
0  {'location': 'US', 'confirmed': 3363056, 'deat...  07-14-2020  1594684800
1  {'location': 'Brazil', 'confirmed': 1884967, '...  07-14-2020  1594684800
2  {'location': 'India', 'confirmed': 906752, 'de...  07-14-2020  1594684800
3  {'location': 'Russia', 'confirmed': 732547, 'd...  07-14-2020  1594684800
4  {'location': 'Peru', 'confirmed': 330123, 'dea...  07-14-2020  1594684800
5  {'location': 'Chile', 'confirmed': 317657, 'de...  07-14-2020  1594684800
6  {'location': 'Mexico', 'confirmed': 304435, 'd...  07-14-2020  1594684800
7  {'location': 'United Kingdom', 'confirmed': 29...  07-14-2020  1594684800
8  {'location': 'South Africa', 'confirmed': 2877...  07-14-2020  1594684800
9  {'location': 'Iran', 'confirmed': 259652, 'dea...  07-14-2020  1594684800

In [ ]:
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")

print("Tiga data teratas:\n", df.head(3))
print("Tiga data terbawah:\n", df.tail(3))

Tiga data teratas:
    order_id  order_date  customer_id  ...    brand quantity item_price
0   1612339  2019-01-01        18055  ...  BRAND_C        4    1934000
1   1612339  2019-01-01        18055  ...  BRAND_V        8     604000
2   1612339  2019-01-01        18055  ...  BRAND_G       12     747000

[3 rows x 9 columns]
Tiga data terbawah:
      order_id  order_date  customer_id  ...    brand quantity item_price
98    1612390  2019-01-01        12681  ...  BRAND_S       24     450000
99    1612390  2019-01-01        12681  ...  BRAND_S       24     450000
100   1612390  2019-01-01        12681  ...  BRAND_B        4    1325000

[3 rows x 9 columns]

Lakukan analisis dengan menggunakan BigQuery karena ada beberapa data BigQuery public datasets yang informasinya akurat dan sudah banyak data point nya sehingga sudah bisa digunakan. Tapi masalahnya, ada beberapa data adhoc yang bergantung tim lain yang belum terlalu melek data, dan datanya masih disimpan dalam bentuk CSV. Bagaimana langkah efektif yang dapat diambil untuk melakukan analisis gabungan data dari BigQuery dan CSV?

Pertama, upload data CSV ke BigQuery, lakukan analisis di dalam BigQuery/export to pandas menggunakan pd.read_gbq. Kedua, Export data BigQuery menggunakan pd.read_gbq as dataframe, kemudian baca file csv menggunakan pd.read_csv dan akhirnya melakukan analisis gabungan di python.

In [ ]:
# Index, Slicing, and Transforming

import pandas as pd

df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv", sep="\t")
print("Index:", df.index)
print("Columns:", df.columns)

Index: RangeIndex(start=0, stop=101, step=1)
Columns: Index(['order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price'], dtype='object')

In [ ]:
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t")
df_x = df.set_index(['order_date', 'city', 'customer_id'])
for name, level in zip(df_x.index.names, df_x.index.levels):
    print(name,':',level)

order_date : Index(['2019-01-01'], dtype='object', name='order_date')
city : Index(['Bogor', 'Jakarta Pusat', 'Jakarta Selatan', 'Jakarta Utara',
       'Makassar', 'Malang', 'Surabaya', 'Tangerang'],
      dtype='object', name='city')
customer_id : Int64Index([12681, 13963, 15649, 17091, 17228, 17450, 17470, 17511, 17616,
            18055],
           dtype='int64', name='customer_id')

In [ ]:
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t", nrows=10)

print("Dataframe awal:\n", df)
df.index = ["Pesanan ke-" + str(i) for i in range(1, 11)]
print("Dataframe dengan index baru:\n", df)

Dataframe awal:
    order_id  order_date  customer_id  ...    brand quantity item_price
0   1612339  2019-01-01        18055  ...  BRAND_C        4    1934000
1   1612339  2019-01-01        18055  ...  BRAND_V        8     604000
2   1612339  2019-01-01        18055  ...  BRAND_G       12     747000
3   1612339  2019-01-01        18055  ...  BRAND_B       12     450000
4   1612339  2019-01-01        18055  ...  BRAND_G        3    1500000
5   1612339  2019-01-01        18055  ...  BRAND_V        3    2095000
6   1612339  2019-01-01        18055  ...  BRAND_H        3    2095000
7   1612339  2019-01-01        18055  ...  BRAND_S        3    1745000
8   1612339  2019-01-01        18055  ...  BRAND_F        6    1045000
9   1612339  2019-01-01        18055  ...  BRAND_P        6    1045000

[10 rows x 9 columns]
Dataframe dengan index baru:
                order_id  order_date  customer_id  ...    brand quantity item_price
Pesanan ke-1    1612339  2019-01-01        18055  ...  BRAND_C        4    1934000
Pesanan ke-2    1612339  2019-01-01        18055  ...  BRAND_V        8     604000
Pesanan ke-3    1612339  2019-01-01        18055  ...  BRAND_G       12     747000
Pesanan ke-4    1612339  2019-01-01        18055  ...  BRAND_B       12     450000
Pesanan ke-5    1612339  2019-01-01        18055  ...  BRAND_G        3    1500000
Pesanan ke-6    1612339  2019-01-01        18055  ...  BRAND_V        3    2095000
Pesanan ke-7    1612339  2019-01-01        18055  ...  BRAND_H        3    2095000
Pesanan ke-8    1612339  2019-01-01        18055  ...  BRAND_S        3    1745000
Pesanan ke-9    1612339  2019-01-01        18055  ...  BRAND_F        6    1045000
Pesanan ke-10   1612339  2019-01-01        18055  ...  BRAND_P        6    1045000

[10 rows x 9 columns]

In [ ]:
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t", index_col=["order_date", "order_id"])
print("Dataframe:\n", df.head(8))

Dataframe:
                      customer_id             city  ... quantity item_price
order_date order_id                                ...
2019-01-01 1612339         18055  Jakarta Selatan  ...        4    1934000
           1612339         18055  Jakarta Selatan  ...        8     604000
           1612339         18055  Jakarta Selatan  ...       12     747000
           1612339         18055  Jakarta Selatan  ...       12     450000
           1612339         18055  Jakarta Selatan  ...        3    1500000
           1612339         18055  Jakarta Selatan  ...        3    2095000
           1612339         18055  Jakarta Selatan  ...        3    2095000
           1612339         18055  Jakarta Selatan  ...        3    1745000

[8 rows x 7 columns]

In [ ]:
df_week = pd.DataFrame({'day_number':[1,2,3,4,5,6,7],
                        'week_type':['weekday' for i in range(5)] + ['weekend' for i in range(2)]
                       })
df_week_ix = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
df_week.index = [df_week_ix, df_week['day_number'].to_list()]
df_week.index.names = ['name','num']
print(df_week)

          day_number week_type
name num
Mon  1             1   weekday
Tue  2             2   weekday
Wed  3             3   weekday
Thu  4             4   weekday
Fri  5             5   weekday
Sat  6             6   weekend
Sun  7             7   weekend

In [ ]:
import pandas as pd

df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
df_slice = df.loc[(df["order_date"] == "2019-01-01") &
		          (df["product_id"].isin(["P2154", "P2556"]))
				 ]
print("Slice langsung berdasarkan kolom:\n", df_slice)

Slice langsung berdasarkan kolom:
     order_id  order_date  customer_id  ...    brand quantity item_price
9    1612339  2019-01-01        18055  ...  BRAND_P        6    1045000
10   1612339  2019-01-01        18055  ...  BRAND_M        4    1745000

[2 rows x 9 columns]

In [ ]:
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
df = df.set_index(["order_date", "order_id", "product_id"])
df_slice = df.loc[("2019-01-01", 1612339, ["P2154", "P2159"]),:]
print("Slice df:\n", df_slice)

Slice df:
                                 customer_id  ... item_price
order_date order_id product_id               ...
2019-01-01 1612339  P2154             18055  ...    1745000
                    P2159             18055  ...     310000

[2 rows x 6 columns]

In [ ]:
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")

print("Tipe data df:\n", df.dtypes)
df["order_date"] = pd.to_datetime(df["order_date"])
df["quantity"] = pd.to_numeric(df["quantity"], downcast="float")
df["city"] = df["city"].astype("category")
print("\nTipe data df setelah transformasi:\n", df.dtypes)

Tipe data df:
 order_id        int64
order_date     object
customer_id     int64
city           object
province       object
product_id     object
brand          object
quantity        int64
item_price      int64
dtype: object

Tipe data df setelah transformasi:
 order_id                int64
order_date     datetime64[ns]
customer_id             int64
city                 category
province               object
product_id             object
brand                  object
quantity              float32
item_price              int64
dtype: object

In [ ]:
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")

print("Kolom brand awal:\n", df["brand"].head())
df["brand"] = df["brand"].apply(lambda x: x.lower())
print("Kolom brand setelah apply:\n", df["brand"].head())

df["brand"] = df["brand"].map(lambda x: x[-1])
print("Kolom brand setelah map:\n", df["brand"].head())

Kolom brand awal:
 0    BRAND_C
1    BRAND_V
2    BRAND_G
3    BRAND_B
4    BRAND_G
Name: brand, dtype: object
Kolom brand setelah apply:
 0    brand_c
1    brand_v
2    brand_g
3    brand_b
4    brand_g
Name: brand, dtype: object
Kolom brand setelah map:
 0    c
1    v
2    g
3    b
4    g
Name: brand, dtype: object

In [ ]:
import numpy as np

np.random.seed(1234)
df_tr = pd.DataFrame(np.random.rand(3,4)) 
print("Dataframe:\n", df_tr)
df_tr1 = df_tr.applymap(lambda x: x**2+3*x+2) 
print("\nDataframe - cara 1:\n", df_tr1)
def qudratic_fun(x):
	return x**2+3*x+2
df_tr2 = df_tr.applymap(qudratic_fun)
print("\nDataframe - cara 2:\n", df_tr2)

Dataframe:
           0         1         2         3
0  0.191519  0.622109  0.437728  0.785359
1  0.779976  0.272593  0.276464  0.801872
2  0.958139  0.875933  0.357817  0.500995

Dataframe - cara 1:
           0         1         2         3
0  2.611238  4.253346  3.504789  4.972864
1  4.948290  2.892085  2.905825  5.048616
2  5.792449  5.395056  3.201485  3.753981

Dataframe - cara 2:
           0         1         2         3
0  2.611238  4.253346  3.504789  4.972864
1  4.948290  2.892085  2.905825  5.048616
2  5.792449  5.395056  3.201485  3.753981

In [ ]:
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv")

df.info()
mv = df.isna().sum()
print("\nJumlah missing value per kolom:\n", mv)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  960 non-null    object
 1   country_region  1000 non-null   object
 2   date            1000 non-null   object
 3   latitude        874 non-null    float64
 4   longitude       874 non-null    float64
 5   location_geom   874 non-null    object
 6   confirmed       1000 non-null   int64
 7   deaths          999 non-null    float64
 8   recovered       999 non-null    float64
 9   active          949 non-null    float64
 10  fips            949 non-null    float64
 11  admin2          842 non-null    object
 12  combined_key    0 non-null      float64
dtypes: float64(7), int64(1), object(5)
memory usage: 101.7+ KB

Jumlah missing value per kolom:
 province_state      40
country_region       0
date                 0
latitude           126
longitude          126
location_geom      126
confirmed            0
deaths               1
recovered            1
active              51
fips                51
admin2             158
combined_key      1000
dtype: int64

Pada method .dropna() ada dua keyword argumen yang harus diisikan yaitu axis dan how. Keyword axis digunakan untuk menentukan arah dataframe yang akan dibuang. Angka 1 untuk menyatakan kolom (column-based) atau dapat ditulis dalam string "column", sementara angka 0 berarti searah index (row-based) atau dapat ditulis dalam string "index". Keyword how digunakan untuk bagaimana cara membuangnya. Opsi yang dapat diterimanya (dalam string) adalah 1.) "all" artinya jika seluruh data di satu/beberapa kolom atau di satu/beberapa baris adalah missing value, 2.) "any" artinya jika memiliki 1 saja data yang hilang maka buanglah baris/kolom tersebut.

In [ ]:
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv")

print("Ukuran awal df: %d baris, %d kolom." % df.shape)
df = df.dropna(axis=1, how="all")
print("Ukuran df setelah buang kolom dengan seluruh data missing: %d baris, %d kolom." % df.shape)
df = df.dropna(axis=0, how="any")
print("Ukuran df setelah dibuang baris yang memiliki sekurangnya 1 missing value: %d baris, %d kolom." % df.shape)

Ukuran awal df: 1000 baris, 13 kolom.
Ukuran df setelah buang kolom dengan seluruh data missing: 1000 baris, 12 kolom.
Ukuran df setelah dibuang baris yang memiliki sekurangnya 1 missing value: 746 baris, 12 kolom.

In [ ]:
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv")
print("Unique value awal:\n", df["province_state"].unique())
df["province_state"] = df["province_state"].fillna("unknown_province_state")
print("Unique value setelah fillna:\n", df["province_state"].unique())

Unique value awal:
 [nan 'US' 'Guam' 'Iowa']
Unique value setelah fillna:
 ['unknown_province_state' 'US' 'Guam' 'Iowa']

In [ ]:
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv")

print("Awal: mean = %f, median = %f." % (df["active"].mean(), df["active"].median()))
df_median = df["active"].fillna(df["active"].median())
print("Fillna median: mean = %f, median = %f." % (df_median.mean(), df_median.median()))
df_mean = df["active"].fillna(df["active"].mean())
print("Fillna mean: mean = %f, median = %f." % (df_mean.mean(), df_mean.median()))

Awal: mean = 192.571128, median = 41.000000.
Fillna median: mean = 184.841000, median = 41.000000.
Fillna mean: mean = 192.571128, median = 49.000000.

In [ ]:
ts = pd.Series({
   "2020-01-01":9,
   "2020-01-02":np.nan,
   "2020-01-05":np.nan,
   "2020-01-07":24,
   "2020-01-10":np.nan,
   "2020-01-12":np.nan,
   "2020-01-15":33,
   "2020-01-17":np.nan,
   "2020-01-16":40,
   "2020-01-20":45,
   "2020-01-22":52,
   "2020-01-25":75,
   "2020-01-28":np.nan,
   "2020-01-30":np.nan
})
ts = ts.interpolate()
print("Setelah diisi missing valuenya:\n", ts)

Setelah diisi missing valuenya:
 2020-01-01     9.0
2020-01-02    14.0
2020-01-05    19.0
2020-01-07    24.0
2020-01-10    27.0
2020-01-12    30.0
2020-01-15    33.0
2020-01-17    36.5
2020-01-16    40.0
2020-01-20    45.0
2020-01-22    52.0
2020-01-25    75.0
2020-01-28    75.0
2020-01-30    75.0
dtype: float64

In [ ]:
#Exercise
import pandas as pd
import math

#1
print("[1] BACA DATASET")
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/retail_raw_test.csv", low_memory=False)
print("    Dataset:\n", df.head())
print("    Info:\n", df.info())

#2
print("\n[2] UBAH TIPE DATA")
df["customer_id"] = df["customer_id"].apply(lambda x: x.split("'")[1]).astype("int64")
df["quantity"] = df["quantity"].apply(lambda x: x.split("'")[1]).astype("int64")
df["item_price"] = df["item_price"].apply(lambda x: x.split("'")[1]).astype("int64")
print("    Tipe data:\n", df.dtypes)

#3
'''
Karena ketika dicek dengan .info() masih ada yang kosong (NaN) pada kolom product_value,
sehingga tidak bisa langsung diconvert ke string ('nan') atau pad 0 dan concat dgn char 'P' ('P0nan')
'''
print("\n[3] TRANSFORM product_value MENJADI product_id")
def impute_product_value(val):
	if math.isnan(val):
		return "unknown"
	else:
		return 'P' + '{:0>4}'.format(str(val).split('.')[0])

df["product_id"] = df["product_value"].apply(lambda x: impute_product_value(x))
df.drop(["product_value"], axis=1, inplace=True)
print(df.head())

#4
'''
Format datetime di sini ('Jan 1, 2019') tidak ideal dalam environment pandas, sehingga perlu
ditranslate menjadi format yang ideal ('2019-01-01').
'''
print("\n[4] TRANSFORM order_date MENJADI FORMAT YYYY-mm-dd")
months_dict = {
   "Jan":"01",
   "Feb":"02",
   "Mar":"03",
   "Apr":"04",
   "May":"05",
   "Jun":"06",
   "Jul":"07",
   "Aug":"08",
   "Sep":"09",
   "Oct":"10",
   "Nov":"11",
   "Dec":"12"
}
df["order_date"] = pd.to_datetime(df["order_date"].apply(lambda x: str(x)[-4:] + "-" + months_dict[str(x)[:3]] + "-" + str(x)[4:7]))
print("    Tipe data:\n", df.dtypes)


#5
print("\n[5] HANDLING MISSING VALUE")
df[["city","province"]] = df[["city","province"]].fillna("unknown")
df["brand"] = df["brand"].fillna("no_brand")
print("    Info:\n", df.info())

#6
print("\n[6] MEMBUAT KOLOM BARU city/province")
df["city/province"] = df["city"] + "/" + df["province"]
df.drop(["city","province"], axis=1, inplace=True)
print(df.head())

#7
print("\n[7] MEMBUAT HIERACHICAL INDEX")
df = df.set_index(["city/province","order_date","customer_id","order_id","product_id"])
df = df.sort_index()
print(df.head())

#8
print("\n[8] MEMBUAT KOLOM total_price")
df["total_price"] = df["quantity"] * df["item_price"]
print(df.head())

#9
print("\n[9] SLICE DATASET UNTUK BULAN JANUARI 2019 SAJA")
idx = pd.IndexSlice
df_jan2019 = df.loc[idx[:, "2019-01-01":"2019-01-31"], :]
print("Dataset akhir:\n", df_jan2019)

[1] BACA DATASET
    Dataset:
    order_id    order_date customer_id  ... quantity item_price product_value
0   1730350  Dec 11, 2019      '13447  ...      '24    '113000        1374.0
1   1677490  Jul 31, 2019          '0  ...       '1   '1164000        1370.0
2   1704211  Oct 18, 2019      '16128  ...      '12    '747000        1679.0
3   1679695  Aug 07, 2019      '16225  ...       '6    '590000        1708.0
4   1679080  Aug 05, 2019          '0  ...       '2    '740000        1201.0

[5 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       5000 non-null   int64
 1   order_date     5000 non-null   object
 2   customer_id    5000 non-null   object
 3   city           3802 non-null   object
 4   province       3802 non-null   object
 5   brand          4995 non-null   object
 6   quantity       5000 non-null   object
 7   item_price     5000 non-null   object
 8   product_value  4995 non-null   float64
dtypes: float64(1), int64(1), object(7)
memory usage: 351.7+ KB
    Info:
 None

[2] UBAH TIPE DATA
    Tipe data:
 order_id           int64
order_date        object
customer_id        int64
city              object
province          object
brand             object
quantity           int64
item_price         int64
product_value    float64
dtype: object

[3] TRANSFORM product_value MENJADI product_id
   order_id    order_date  customer_id  ... quantity item_price product_id
0   1730350  Dec 11, 2019        13447  ...       24     113000      P1374
1   1677490  Jul 31, 2019            0  ...        1    1164000      P1370
2   1704211  Oct 18, 2019        16128  ...       12     747000      P1679
3   1679695  Aug 07, 2019        16225  ...        6     590000      P1708
4   1679080  Aug 05, 2019            0  ...        2     740000      P1201

[5 rows x 9 columns]

[4] TRANSFORM order_date MENJADI FORMAT YYYY-mm-dd
    Tipe data:
 order_id                int64
order_date     datetime64[ns]
customer_id             int64
city                   object
province               object
brand                  object
quantity                int64
item_price              int64
product_id             object
dtype: object

[5] HANDLING MISSING VALUE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     5000 non-null   int64
 1   order_date   5000 non-null   datetime64[ns]
 2   customer_id  5000 non-null   int64
 3   city         5000 non-null   object
 4   province     5000 non-null   object
 5   brand        5000 non-null   object
 6   quantity     5000 non-null   int64
 7   item_price   5000 non-null   int64
 8   product_id   5000 non-null   object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 351.7+ KB
    Info:
 None

[6] MEMBUAT KOLOM BARU city/province
   order_id order_date  ...  product_id              city/province
0   1730350 2019-12-11  ...       P1374      Surakarta/Jawa Tengah
1   1677490 2019-07-31  ...       P1370            unknown/unknown
2   1704211 2019-10-18  ...       P1679  Jakarta Pusat/DKI Jakarta
3   1679695 2019-08-07  ...       P1708      Yogyakarta/Yogyakarta
4   1679080 2019-08-05  ...       P1201            unknown/unknown

[5 rows x 8 columns]

[7] MEMBUAT HIERACHICAL INDEX
                                                                     brand  ...  item_price
city/province          order_date customer_id order_id product_id           ...
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936       BRAND_K  ...      450000
                       2019-11-12 12360       1715116  P0758       BRAND_C  ...      695000
                                                       P3042       BRAND_R  ...      310000
                       2019-12-09 12374       1729036  P1660       BRAND_G  ...     2795000
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628       BRAND_C  ...      695000

[5 rows x 3 columns]

[8] MEMBUAT KOLOM total_price
                                                                     brand  ...  total_price
city/province          order_date customer_id order_id product_id           ...
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936       BRAND_K  ...     10800000
                       2019-11-12 12360       1715116  P0758       BRAND_C  ...      5560000
                                                       P3042       BRAND_R  ...      3720000
                       2019-12-09 12374       1729036  P1660       BRAND_G  ...     11180000
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628       BRAND_C  ...      8340000

[5 rows x 4 columns]

[9] SLICE DATASET UNTUK BULAN JANUARI 2019 SAJA
Dataset akhir:
                                                                      brand  ...  total_price
city/province          order_date customer_id order_id product_id           ...
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628       BRAND_C  ...      8340000
Bandung/Jawa Barat     2019-01-09 16134       1617055  P1597       BRAND_G  ...      4680000
                       2019-01-10 17392       1617952  P2137       BRAND_M  ...      2124000
                       2019-01-14 15527       1618828  P3115       BRAND_S  ...      1045000
                       2019-01-29 13253       1620289  P0099       BRAND_A  ...      5400000
...                                                                    ...  ...          ...
unknown/unknown        2019-01-30 0           1620766  P3070       BRAND_R  ...       593000
                                                       P3483       BRAND_S  ...      1779000
                       2019-01-31 0           1621057  P1298       BRAND_F  ...       296000
                                                       P1773       BRAND_H  ...      2965000
                                                       P2877       BRAND_R  ...      1486000

[334 rows x 4 columns]